.App {

  text-align: center;
  
}

.header {

  background-color: #282c34;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;

}

.footer {

  display: flex;
  flex-flow: row wrap;
  color: blue;

}

